body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.iggy .typelist li.runsearch{
  font-weight: bold;
  text-align: center;
  
}
.iggy .typelist li.runsearch a{
  color: #dd0000;
}
