.iggy
	border 1px solid #ddd
	padding 5px 0 0 5px
	
	.add-facet-btn
		border-radius 2px
		border 1px solid #ccc
		background #eee
		color #aaa
		padding 9px 9px 7px
		font-size 12px
		text-shadow 0 1px 0 rgba( white, .8 ), 0 -1px 0 rgba( black, .2 )
		cursor pointer
		&:hover
			border-color #666
			color #666

	.add-facet-btn
	.add-facet
	.sub
		position relative
		float left
		margin 0 5px 5px 0
		
	.rm-facet-btn
		margin-right 5px
		top 7px
		float left
		cursor pointer
		position relative
		color #aaa
		text-shadow 0 1px 0 rgba( white, .8 ), 0 -1px 0 rgba( black, .2 )
		&:hover
			color #666
			
	.sublabel
		float left
		padding 4px 0
		display inline-block
		
	.operator
		float left
		top -2px
		position relative
		margin-right 10px

	input.selector-inp
	input.number-inp
	input.daterange-inp
		top 2px
		border 0
		box-shadow none
		outline none
		display block
		padding 1px 5px
		margin 0
		
	input.number-inp
	input.daterange-inp
	input.selector-inp
		bottom -5px
		position relative
	
	input.number-inp
		width 50px

	input.number-inp
	input.selector-inp
		border 1px solid #ddd
		background rgba( white, .5 )

	input.daterange-inp
		width 1px
		background transparent

	.sub
		background #eee
		border-radius 2px
		border 1px solid #ddd
		padding 0px 3px 0px 8px
		
	.rangeinp
		position relative
		input
		.separator
			float left
		.separator
			position relative
			top 3px
			padding 0 5px

	.typelist
		display none
		list-style none
		padding 0
		margin 0
		position absolute
		top 0
		left 0
		right 0
		border 1px solid #ddd
		max-height 200px
		overflow auto
		z-index 50
		li
			padding 0
			margin 0
			background white
			text-align left
		a
			padding 4px 5px 4px 10px
			display block
			text-decoration none
			white-space nowrap
			b
				color black
		a.active
			background #eee
		
	.subselect
	.subresults
		margin-left 5px
		display inline-block
		position relative
		
	.subselect
		//top -5px
		float left
		margin-bottom -2px
		.typelist
			top -1px
			right -4px
		a
			padding 4px 10px 4px
	.subresults
		float left
		font-weight bold
		display inline
		list-style none
		padding 0
		margin 0 0 0 5px
		li
			display inline-block
			margin 1px 0
			padding 3px 8px
			border-right 1px solid #ddd
			border-left 1px solid #fff
		li:last-child
			border-right 0 solid
			padding-right 4px
		li:first-child
			border-left 0 solid
			padding-left 4px
	
	.custom
		.typelist
			top 30px
		
	.add-facet.open
	.subselect.open 
		.typelist
			display block
	.subselect.closed 
		.selector-inp
		.number-inp
		.daterange-inp
		.operator
			display none

	.select-check
		margin-right 5px

	.select2
		min-width 90px
		.select2-selection
			border 1px solid transparent
			background 0
			padding 0
			min-height 10px
		.select2-dropdown
		.select2-selection__choice
			border-radius 2px
		.select2-selection__choice
			margin-top 3px
		.select2-search__field
			margin-top 0
			top 3px
			position relative
	.operator
		.select2
			min-width 50px
			
			
.daterange-iggy
	margin-top -25px
	border-radius 2px
	box-shadow 0 1px 4px rgba(0, 0, 0, 0.175)
	&.opensright:before
	&.opensright:after
		display none