.iggy
	border 1px solid #ddd
	padding 3px
	
	.add-facet-btn
	.add-facet
	.sub
		position relative
		float left
	
	.add-facet
	.sub
		margin-left 10px
	
	input.selector-inp
	input.selector-inp:focus
		border 0
		box-shadow none
		outline none
		
	.sub
		background #eee
		border-radius 2px
		border 1px solid #ddd
		padding 3px 10px

	.typelist
		display block
		list-style none
		padding 0
		margin 0
		position absolute
		top 0
		left 0
		right 0
		border 1px solid #ddd
		li
			padding 0
			margin 0
			background white
			text-align left
		a
			padding 4px 10px
			display block
			text-decoration none
			white-space nowrap
			b
				color black
		a.active
			background #eee
	
	.subselect
	.subresult
		margin-left 5px
		display inline-block
		position relative
		
	.subselect
		top -4px
		margin-bottom -2px
		.typelist
			right -11px
		a
			padding 4px 10px 4px
	.subresult
		font-weight bold
	
	.custom
		.typelist
			top 30px
		
	.add-facet.open .typelist
		display block
		