button.add-facet-btn.fa.fa-plus(  )
if searchButton != undefined && searchButton.template != undefined && searchButton.template.length >= 0
	button.search-btn( class=searchButton.cssclass class={"search-btn-pullright":searchButton.pullright})
		!= searchButton.template
